// カスタムするScssのベースファイル
html {
  * {
    box-sizing: border-box;
  }
}

body {
  display: grid;
  grid-template-rows: (65px + 8px) 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eeeeee;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

img {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  padding: 15px 20px;
  background: #fefefe;
  z-index: 100;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

  .title {
  }
}
main {
  grid-row: 2 / -2;
  padding: 0 15px;
}
footer {
  grid-row: -2 / -1;
  background: #fefefe;
  .copyright {
    text-align: center;
  }
}

.article {
  position: relative;
  padding-bottom: 10px;
  background: #fbf9f9;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  @include hover-underline;

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 15px;
  }

  p {
    padding-left: 5px;
    padding-right: 5px;
  }
}
